footer {

  color: #000;
  line-height: 20px;
  background-size: cover;
  background-position: center;
  z-index: 0;
  margin-top: 100px;
  margin-bottom: 20px;
  a {
      //color: #fff;
  }

  .footer-menu {
    text-align: center;
    @media (min-width: $screen-md) {
      //padding-top: 90px;
    }
    li {
      display: inline-block;
      a {
        padding: 10px;
        line-height: 30px;
      }

      @media (max-width: $screen-sm) {
        display: block;
      }
    }
  }
  ul {
    padding-left: 0;

  }
}