header {

  .logo {

    margin-top: 13px;
    max-width: 200px;
    //margin-left: 30px;
    @media (max-width: $screen-xs) {
     // margin-top: 26px;
    }
  }

  #menu-toggle {
    display: none;
  }

}

.nav-menu {
  background-color: #666;
  padding: 0;
  margin-top: 30px;
  //text-align: right;
  display: inline-block;
  width: 100%;

  li  {
    float: left;
    text-transform: uppercase;
    list-style: none;
    border-right: 1px solid #4F4E4E;
    //border-left: 1px solid #9E9E9E;

    a {
      width: 100%;
      font-size: 18px;
      display: inline-block;
      transition: all 200ms;
      padding: 10px 30px;
      color: #aaa;
      font-weight: bold;

      &:hover, &:focus {
        background-color: $orange-light;
        color: #fff;
        text-decoration: none;

      }
    }
  }
  > li {
    padding: 0;
  }
  ul {
    padding: 0;
    background-color: #fff;
  }

  .sub-menu {
    padding: 0;
    li a {
      font-size: 12px;
    }
  }
}
#menu-toggle {
  //position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1001;
}

.menu-button {
  float: right;
  display: inline-block;
  height: 100px;
  padding: 20px;

  .burger-icon {
    @include burger(40px, 6px, 6px, $orange-light);
    @media (max-width: $screen-xs) {
      //@include burger(20px, 4px, 4px, #2f2f2f);
    }
  }

  &.is-active .burger-icon {
    @include burger-to-cross;
  }

}

.header-text {
  margin-top: 83px;
}

.banner {
  position: relative;
  img {
    height: 300px;
  }
}

@media all and (max-width: $screen-sm) {
  header {
    .header-text {
      display: none;
    }
    #menu-toggle {
      margin: 20px auto 25px auto;
      display: block;
      padding: 15px 70px;
    }
  }
  nav {
    display: none;
//    overflow: hidden;
//    position: relative;
    width: 100%;
    #menu-header {
      margin: 0;
    }
  }
  .nav-menu {
    background-color: transparent;
    li {
      width: 100%;
      display: block;
      float: none;
      border-right: 0 none;
      border-bottom: 1px solid #fff;
    }
  }
  .logo {
    margin: auto;
  }
}

@media all  and (min-width: $screen-sm + 1) {
  nav{
    display: block !important;
  }
}
