.posts-list {
  padding: 0;
  padding: 20px;

}
.post-item {
  //background-color: #e8e8e8;
  list-style: none;
  padding: 5px 0;
  border-top: 1px solid #e8e8e8;

  p {
    margin-bottom: 0;
  }
}

@media all and (max-width: $screen-sm) {
  .posts-list {
    padding: 0;
  }
}