.sidebar {
  background-color: #fff;
  min-height: 300px;
  text-align: right;
  //padding-top: 30px;
  &:before {
        display: inline-block;
        width: 100%;
        height: 300px;
        content: 'Systemy przeciwpożarowe SAP, DSO';
        background-color: rgba(230,120,23,0.4);
        position: absolute;
        right: 0;
        top: -350px;
        font-size: 28px;
        font-weight: bold;
        padding: 30px 15px;
        color: #fff;
        line-height: 40px;
        text-align: right;
  }

  h2 {
    font-weight: 300;
  }

  > div {
    border-top: 1px solid #e8e8e8;
  }

  > div:first-child {
    border: 0 none;
    padding-bottom: 50px;
  }

  #map, .angular-google-map, .angular-google-map-container {
    height: 300px;
    //background-color: $orange-light;
  }

}

@media all and (max-width: $screen-lg) {
  .sidebar {
    &:before {
      font-size: 20px;

    }
  }
}

@media all and (max-width: $screen-md) {
  .sidebar {
    &:before {
      position: relative;
      top: 0;
      height: auto;
      min-height: 200px;
      font-size: 28px;

    }
  }
}