<div class="col-md-3">
    <h2>Rozdzielnie</h2>
    <img src="" alt="elektryka" width="245" height="208" class="alignnone size-full wp-image-46" />
</div>
<div class="col-md-3">
    <h2>Tablce</h2>
    <img src="" alt="elektryka-2" width="203" height="250" class="alignnone size-full wp-image-47" />
</div>
<div class="col-md-3">
    <h2>Przekaźniki</h2>
    <img src="http://teslatech.localhost/wp-content/uploads/2015/08/elektryka-3.png" alt="elektryka-3" width="277" height="183" class="alignnone size-full wp-image-48" />
</div>
<div class="col-md-3">
    <h2>Inne</h2>
    <img src="http://teslatech.localhost/wp-content/uploads/2015/08/elektryka-4.png" alt="elektryka-4" width="326" height="156" class="alignnone size-full wp-image-49" />
</div>