<div class="row">
    <div class="col-md-12">
        <p>Firma <strong>Tesla-Tech</strong> działa na rynku już ponad 8 lat, a jej głównym atutem jest stała wyspecjalizowana kadra, posiadająca szeroką wiedzę teoretyczną i praktyczną.</p><br />
        <p>Zbudowaliśmy dużą sieć powiązań z firmami polskimi i zagranicznymi jako firma rzetelna i wiarygodna.</p><br /><br />
        <p>Oferujemy usługi w zakresie instalacji elektrycznych i teletechnicznych, systemów sygnalizacji pożaru SAP, DSO, sieci logicznych i strukturalnych, systemów monitoringu i zabezpieczeń CCTV, SSWiN, KD systemów oddymiania oraz pomiarów.</p>
    </div>
</div>
