<div class="row">
    <div class="col-md-8">
        <h2>Instalacje teletechniczne</h2>

        Oferujemy kompleksową usługę montażu, modernizacji i serwisu instalacji teletechnicznych w budynkach przemysłowych, w budynkach mieszkaniowych i budynkach użyteczności publicznej.
        Nasza oferta:

        instalacja anten zbiorczych
        instalacja telefonii IP
        instalacja profesjonalnych stacji czołowych DTV
        instalacja infrastruktury teletechnicznej w budynku lub kompleksie zabudowań
        diagnostyka sieci telewizyjnej
        rozbudowa sieci telewizyjnej
        doradztwo techniczne
        montaż anten satelitarnych DVB-S wszelkich dostępnych platform satelitarnych
        montaż anten do odbioru telewizji naziemnej DVB-T
        monitoring wideo CCTV
        streaming obrazu i dźwięku

        Świadczymy również usługi klientom indywidualnym w domach jednorodzinnym i mieszkaniach.
    </div>
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/08/elektryka.png"/>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-8">
        <h2>Instalacje teletechniczne</h2>

        Oferujemy kompleksową usługę montażu, modernizacji i serwisu instalacji teletechnicznych w budynkach przemysłowych, w budynkach mieszkaniowych i budynkach użyteczności publicznej.
        Nasza oferta:

        instalacja anten zbiorczych
        instalacja telefonii IP
        instalacja profesjonalnych stacji czołowych DTV
        instalacja infrastruktury teletechnicznej w budynku lub kompleksie zabudowań
        diagnostyka sieci telewizyjnej
        rozbudowa sieci telewizyjnej
        doradztwo techniczne
        montaż anten satelitarnych DVB-S wszelkich dostępnych platform satelitarnych
        montaż anten do odbioru telewizji naziemnej DVB-T
        monitoring wideo CCTV
        streaming obrazu i dźwięku

        Świadczymy również usługi klientom indywidualnym w domach jednorodzinnym i mieszkaniach.
    </div>
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/08/elektryka-2.png"/>
    </div>
</div>