<div class="row">
    <div class="col-md-8">
        <h2>SYSTEMY KONTROLI DOSTĘPU (KD)</h2>

        System Kontroli Dostępu - KD firmy UNICARD SA powstał w oparciu o autorskie rozwiązanie i długoletnie prace nad jego udoskonalaniem. Korzystają z niego firmy zarówno z sektora prywatnego jaki i państwowego, o szerokim zakresie działalność gospodarczej. System KD został wdrożony m.in. w obiektach rządowych, jednostkach budżetowych, zakładach produkcyjnych i przemysłowe, bankach, budynkach biurowych, obiektach handlowych, szpitalach czy hotelach.
        Systemy kontroli dostępu Unicard
        System KD przede wszystkim skutecznie kontroluje dostęp do poszczególnych pomieszczeń i stref. Tylko osoby upoważnione mogą poruszać się po danym obiekcie, korzystając z identyfikatorów osobistych. Zainstalowane w wyznaczonych miejscach czytniki kart zbliżeniowych efektywnie ograniczają dostęp do wybranych pomieszczeń i/lub stref. Dzięki oprogramowaniu systemu kontroli dostępu administrator oraz inne uprawnione osoby mają możliwość nie tylko nadawania lub ograniczania prawa dostępu dla poszczególnych osób czy grup, ale również kontrolowania sytuacji w stanach zagrożenia lub alarmowych.
        Wieloletnie doświadczenie firmy UNICARD SA w produkcji systemów kontroli dostępu oraz ciągła analiza potrzeb użytkowników pozwalają na szybką modernizację zarówno zainstalowanych urządzeń, jak i aktualizację oprogramowania. UNICARD SA jest producentem systemów kontroli dostępu opartych o własne rozwiązania, co daje możliwość integrowania ich z innymi tego typu systemami. Firma jest w stanie zaoferować kompletne rozwiązania, wsparcie techniczne na każdym etapie wdrożenia oraz serwis gwarancyjny i pogwarancyjny.
    </div>
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/09/kd-3.png"/>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/09/kd-4.png"/>
    </div>
    <div class="col-md-8">
        <h2>ZALETY SYSTEMU KD:</h2>

        Najważniejszą zaletą zastosowania Systemu Kontroli Dostępu, oprócz wymiernych korzyści finansowych, jest zwiększenie poziomu bezpieczeństwa i zabezpieczenia mienia na terenie obiektu. Wprowadzenie kontroli dostępu ogranicza ryzyko strat związanych z kradzieżą, jak również umożliwia bezzwłoczne pozyskanie danych o osobach przebywających i poruszających się po obiekcie. Jest to  szczególnie cenna informacja w przypadku konieczności nagłej ewakuacji. Systemy  Kontroli Dostępu ze względu na swoją specyfikę często staje się podwaliną do rozbudowy o kolejne elementy z zakresu ochrony i bezpieczeństwa, takie jak systemy CCTV, RCP czy Parkingowy.
        PODSTAWOWE ELEMENTY SYSTEMU KD:

        Czytnik kontroli dostępu
        Sterownik
        Elektrozamek
        Kontaktron
        Karty zbliżeniowe
        Oprogramowanie UniKD
        JAK DZIAŁA KD?
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-8">
        Działanie systemu opiera się na współpracy urządzeń z identyfikatorami osobistymi, którymi są z reguły  karty zbliżeniowe. Użytkownicy systemu otrzymują uprawnienia do poruszania się w wyznaczonych strefach lub wejścia do pomieszczeń budynku. W systemie kontroli dostępu żadne dane nie są przechowywane na karcie, co ma szczególne znaczenie w przypadku jej zgubienia lub kradzieży. Pracę systemu kontroluje komputer nadzorujący, a jego komunikację z czytnikami kart zbliżeniowych zapewniają sterowniki. Uprawnienia użytkowników nadawane są indywidualnie, co pozwala na dostosowanie działania systemu do struktury funkcjonowania przedsiębiorstwa lub funkcji pełnionych przez pracowników.
        <h2>OPROGRAMOWANIE UNIKD POSIADA KILKA INTERESUJĄCYCH DLA UŻYTKOWNIKA MODUŁÓW:</h2>

        moduł GOŚCIE pozwalający na obsługę gości wizytujących firmę i umożliwiający ich rejestrację w firmie (Imię i Nazwisko, Firma, opcjonalnie PESEL)  i nadanie odpowiednich uprawnień pozwalających na poruszanie się w ściśle określonych strefach.
        moduł KLUCZE umożliwiający wydawanie kluczy pracownikom, którzy mają przydzielone odpowiednie uprawnienia. Istnieje również podgląd historii wydawania/zwrotów kluczy.
        moduł WINDA pozwalający na konfigurację  sterownika i powiązanych z nim punktów kontroli dostępu, tak aby pracownicy posiadali określone uprawnienia do korzystania z windy. Można określić ilość poziomów, do których jest dostęp lub jego brak, dla określonych numerów kart przypisanych pracownikom.
    </div>
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/09/kd.png"/>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/09/kd-5.png"/>
    </div>
    <div class="col-md-8">
        <h2>NAJWAŻNIEJSZE CECHY SYSTEMU KD:</h2>

        Nowoczesny i wygodny sposób identyfikacji użytkowników
        Współpraca z Systemem Rejestracji Czasu Pracy - UniRCP dzięki wspólnej karcie/identyfikatorowi oraz bazie danych
        Współpraca z systemami BMS, SSWiN, SAP, CCTV
        Aktualizacje oprogramowania
        Stopniowe wdrażanie systemu w firmie oraz rozbudowa ww. w oparciu o kolejne obiekty, punkty rejestracji czasu pracy, punkty kontroli dostępu itd.
    </div>
</div>





