<div class="row contact-top">
    <div class="col-md-6">
        TESLA-TECH Sp. z o.o.<br/>
        Spółka Komandytowa
        ul. Marcinkowskiego 2A/4
        64-000 Kościan
    </div>
    <div class="col-md-6">
        NIP: 698-183-72-48
        REGON: 302733520
    </div>
    <hr/><br/><br/>
</div>
<div class="row">
    <div class="col-md-6">
        <strong>Dyrektor handlowy</strong>
        Piotr Żak
        GSM +48 693-993-103
        email: <a href="mailto:firma@tesla-tech.pl" target="_top">firma@tesla-tech.pl</a>
        <hr/>
    </div>
    <div class="col-md-6">
        <strong>Prezes zarzadu</strong>
        Weronika Chąpińskia
        GSM +48 609-120-900
        email: <a href="mailto:weronika.chapinska@tesla-tech.pl" target="_top">weronika.chapinska@tesla-tech.pl</a>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <strong>Kierownik realizacji projektu</strong>
        Łukasz Michałowski
        GSM +48 725-481-291
        email: <a href="mailto:lukasz.michalowski@tesla-tech.pl" target="_top">lukasz.michalowski@tesla-tech.pl</a>
        <hr/>
    </div>
    <div class="col-md-6">
        <strong>Kadry i place</strong>
        GSM +48 609-120-900
        <hr/>
    </div>
</div>
