<div class="row">
    <div class="col-md-12">
        <h2>Oddymianie grawitacyjne</h2>
        W momencie wybuchu pożaru, priorytetem jest sprawna i szybka ewakuacja ludzi z budynku objętego ogniem. Systemy oddymiania grawitacyjnego umożliwiają usuwanie dymów i gorących gazów pożarowych z obiektu, a przede wszystkim z dróg ewakuacyjnych. Pomaga to również straży pożarnej w prowadzeniu akcji gaśniczej, dzięki utrzymaniu warstwy o niewielkim zadymieniu i lepszej widoczności.

        Zastosowanie systemów oddymiania grawitacyjnego, w skład którego wchodzą klapy oddymiające, otwory napowietrzające oraz kurtyny dymowe pozwala obniżyć temperaturę w obiekcie, czego efektem jest ochrona konstrukcji bydunku i znajdującego się wewnątrz mienia.

        Zgodnie z polskimi przepisami, zastosowanie systemów oddymiania grawitacyjnego pozwala zwiększyć dopuszczalne strefy pożarowe w budynku oraz obniżyć wymaganą klasę odporności pożarowej budynku.
    </div>
</div>