<div class="col-md-12">
    <ul>
        <li>Instalacje elektryczne i teletechniczne</li>
        <li>Systemy sygnalizacji pożaru SAP, DSO</li>
        <li>Sieci logiczne, strukturalne</li>
        <li>Systemy monitoringu i zabezpieczeń CCTV, SSWiN, KD</li>
        <li>Systemy oddymiania</li>
        <li>Pomiary</li>
    </ul>
</div>