<div class="row">
    <div class="col-md-8">
        <h2>Systemy sygnalizacji SAP</h2>
        System sygnalizacji alarmów pożarowych składa się głównie z centrali alarmowej, ostrzegaczy (czujek i przycisków) pożarowych oraz sygnalizatorów alarmowych. Systemy te instaluje się tam, gdzie pożar musi być wykryty szybko i niezawodnie. W razie alarmu pożarowego sterowane przez centralkę urządzenie gaśnicze powinno się uruchamiać automatycznie. Sygnał o pożarze powinien być także przekazany do straży pożarnej. Zainstalowane w systemie czujki i przyciski pożarowe działają bez przerwy (przy zaniku napięcia sieciowego zasilane są z akumulatorów awaryjnych), a ich zdolność do nadzorowania nie może być w żaden sposób zakłócona lub ograniczona. Centrala alarmowa stale porównuje stan rzeczywisty ze stanem zadanym czujek i otoczenia. Wszelkie odchyłki są rejestrowane i sygnalizowane.
    </div>
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/08/sap-4.png" alt="sap" width="249" height="125" class="alignnone size-full wp-image-56" />
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/08/sap-3.png" alt="sap" width="249" height="125" class="alignnone size-full wp-image-56" />
    </div>
    <div class="col-md-8">
        O jakości systemu sygnalizacji alarmu pożarowego decyduje nie tylko marka, lecz przede wszystkim odpowiednie zaprojektowanie poszczególnych komponentów urządzenia.
        Dziedziny zastosowania: Przemysł, placówki handlowe i miejsca zgromadzeń, jak hotele, domy opieki, szpitale, centra handlowe, a także budynki bankowe, zakładów ubezpieczeniowych i administracyjne, archiwa, centrale techniczne i zaopatrzeniowe, zakłady produkcyjne, biura itd.
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-8">
        <h2>Systemy sygnalizacji DSO</h2>
        Systemy wykrywania i sygnalizacji pożaru często postrzegane są jako oczywisty element każdego budynku. Dyskretnie zainstalowane, przez wiele miesięcy lub lat pozostają niezauważone. Jednak w sytuacjach zagrożenia ich efektywność i sprawność decyduje o życiu lub śmierci. Niezawodny system ochrony przeciwpożarowej jest koniecznością, a najprostszym sposobem zapewnienia najwyższego poziomu bezpieczeństwa jest wybór rozwiązań AGIS Fire & Security.
        Swoim klientom AGIS Fire & Security zapewnia pomoc na każdym etapie inwestycji, od wizji lokalnej i analizy zagrożeń, poprzez projektowanie i instalację aż po serwisie i konserwacji zainstalowanych systemów.  Najwyższe kompetencje, długoletnie doświadczenie oraz kompleksowość oferty AGIS Fire & Security sprawia, że klientom oferujmey pełną gamę systemów zapewniających bezpieczeństwo takich jak np.: dźwiękowe systemy ostrzegawcze, systemy oddymiania czy systemy gaszenia pożaru (systemy gaszenia wodą, gazem, mgłą wodną, pianą).
    </div>
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/08/sap-2.png" alt="sap" width="249" height="125" class="alignnone size-full wp-image-56" />
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <img src="http://teslatech.localhost/wp-content/uploads/2015/08/sap.png" alt="sap" width="249" height="125" class="alignnone size-full wp-image-56" />
    </div>
    <div class="col-md-8">
        Oferowane przez AGIS Fire & Security systemy sygnalizacji pożaru (SSP) to najwyższej klasy urządzenia umożliwiające tworzenie kompleksowego rozwiązania w zakresie ochrony przeciwpożarowej. Rozwiązania te obejmują m.in. urządzenia takie jak: panele sterowania do prostych instalacji, czujki pożarowych wykorzystujące najnowsze technologie detekcji czy adresowalne kontrolery analogowe do dużych projektów. Systemy przeciwpożarowe mają za zadanie niezawodnie i szybko wykryć pożar, dzięki czemu  ratują życie ludzkie i  minimalizują straty materialne. AGIS Fire & Security posiada wiele rodzajów systemów i konfiguracji, które można dostosować do każdego rodzaju obiektu, czy są to duże powierzchnie handlowe, magazynowe, biurowe, budynki mieszkalne czy tez zakłady przemysłowe wymagające specjalnych rozwiązań.
    </div>
</div>