html {
  margin-top: 0 !important;
}
body, html {
  overflow-x: hidden;
  background-color: #E8E8E8;
  line-height: 35px;
  color: #000;
}

img {
  @extend .img-responsive;
}

.content {
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;

  .main-column {
    border-right: 1px solid #e8e8e8;
    min-height: 300px;
  }

}

main {
  position: relative;

}
.title {
    //text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
}
.fixed-title {
  position: fixed;
  left: 40px;
  top: 60px;
}
a {
  color: #E67817;

  &:hover {
    color: #F1C28E;
  }
}
a:focus {
  outline: none;
  border: 0 none;
}

.italic {
  font-style: italic;
  color: #cccccc;
  font-size: 48px;
  font-family: serif;
}
//.text-box {
//  position: absolute;
//  left: 10px;
//  top: 40%;
//  width: 40%;
//
//}
button, .btn {
  //background: none;
  border: 0 none;
  border-radius: 0;
}
//.hours {
//  text-align: right;
//  @media (max-width: $screen-sm) {
//    text-align: left;
//  }
//}
.aligncenter {
  margin: auto;
}

//#circle-test,
//#circle-test-1{
//  z-index: 20000;
//  margin: auto;
//  text-align: center;
//  width: 100px;
//  float: left;
//  margin: 0 30px;
//
//  > svg {
//    z-index: 3;
//  }
//}

.credits {
  text-align: center;
  margin:  100px auto 0;

}

.contact-top {
  margin-bottom: 100px;
}

ul li {
  list-style: square;
  color: $orange;
}

@media all and (max-width: $screen-sm) {
  ul {
    padding-left: 0;
  }
}
