.decleor {
  img {
    //    display: block;
    //    width: 300px;
    //    height: 300px;
    //    background-color: cadetblue;
  }
  #section0, #section3 {
    text-align: center;
    img{
      margin: auto;
    }
  }
  #section0 .col-md-12:first-child {
    background-color: #FFE400;
  }
  #section1 {
    margin-top: 50px;
  }
  .tab {
    line-height: 25px;
    h3, p {
      margin: 0;
    }
  }
}