.kerastase {
  img {
//    display: block;
//    width: 300px;
//    height: 300px;
//    background-color: cadetblue;
  }
  #section0, #section3 {
    text-align: center;
    img{
      margin: auto;
    }
  }
  #section0 .col-md-12:first-child {
    background-color: #282F35;
  }
  #section1 {
    margin-top: 150px;
  }

  .tab {
    line-height: 25px;
    h3, p {
      margin: 0;
    }
  }
  .small-img {
    width: 200px;
    height: 200px;
    //margin: auto;
  }
  .prod-img {
    height: 200px;
  }
  .special {
    font-size: 122px;
    color: #cccccc;
    font-family: serif;
    margin: 20px auto;
    line-height: 122px;
  }
}