.team {
  text-align: center;
  margin-top: 50px;
  img {
    border: 6px solid #220e10;
    margin: auto;
    width: 250px;
    height: 350px;
    display: block;
  }
  .row {
    margin-bottom: 30px;
  }
}