<article>
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">{{page.title}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" data-ng-bind-html="page.content"></div>
    </div>
</article>

