

<article>
    <header><h1 class="title">Realizacje</h1></header>
    <div ng-show="AbsentEmployees.dataLoaded" class="preloader" class="ng-hide">
        <!-- image here via CSS -->loading ...
    </div>
    <div ng-hide="AbsentEmployees.dataLoaded">
        <ul class="posts-list">
            <li class="post-item row" ng-repeat="post in posts">

                <strong class="col-md-4">{{post.title}}</strong>
                <div class="col-md-5" data-ng-bind-html="post.content"></div>
                <div class="col-md-3" data-ng-bind-html="post.custom_fields.Address"></div>
            </li>
        </ul>
    </div>

    <footer>
        <p>Braliśmy udział przy relizacji powyższych inwestycji</p>
    </footer>
</article>
